
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<%- include partials/scripts_nav.ejs%>
  

  <!-- Main Content -->
  <html>
    <body>
   
    
       


  <% if (title == "Home") { %>
     <%- include home.ejs %>
    
        <% } %>

  <% if (title == "About") { %>
    <%- include about.ejs %>
       <% } %>

  <% if (title == "Contact") { %>
    <%- include contact.ejs %>
       <% } %>

       <% if (title == "Survey") { %>
    <%- include survey\create.ejs %>
    
  
       <% } %>

   
        </body>
  

<!-- Pages Control -->
   
<%- include partials/footer_nav.ejs%> 



  



