
<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>


        <!-- CREATING A NEW SURVEY -->

        <main class="container">
            <div class="row">
                <div class="offset-md-1 col-md-12">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="/survey-list/add" class="btn btn-btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add a Survey</a>
                </div>
            </div>
        </main>

        <%- include ../partials/footer_nav.ejs%> 
        <%- include ../partials/scripts_nav.ejs%>