<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-12">
        <h1>Survey List</h1><br><br>
        <a href="/survey-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Survey</a>
        <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-3">Survey Topic</th>
                    <th class="text-center col-4">Survey Description</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-3">Actions</th>
                    
                   
                </tr>

            <!-- Repeatable Template Row -->
                <% for(let count = 0; count < SurveyList.length; count++){ %>
                    <tr class="d-flex">
                    <td class="text-center col-3"><%= SurveyList[count].topic %></td>
                    <td class="text-center col-4"><%= SurveyList[count].description %></td>
                    <td class="text-center col-2"><%= SurveyList[count].author %></td>
                    <td class="text-center col-3">
                    <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary ">
                    <i class="fas fa-pencil-alt"></i> Edit</a>
                    <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger ">
                        <i class="fas fa-trash-alt"></i> Remove</a>
                    </td>
                    
                 </tr>
                 <% } %>   
            </table>
        </div>
    </div>
</main>
  
<%- include ../partials/footer_nav.ejs%> 
<%- include ../partials/scripts_nav.ejs%>





