<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-12">
        <h1>My Survey</h1><br><br>

         <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/survey-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Survey</a>

        <a href="/survey-list/participate" class="btn btn-primary" role="button">
            <i class="fas fa-list"></i> Participate to Surveys</a>
        <% } %>

        <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-3">Survey Topic</th>
                    <th class="text-center col-3">Survey Description</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-4">Actions</th>
                
                    
                   
                </tr>

            <!-- Repeatable Template Row -->
                <% for(let count = 0; count < SurveyList.length; count++){ %>
                    <tr class="d-flex">
                    <td class="text-center col-3"><%= SurveyList[count].topic %></td>
                    <td class="text-center col-3"><%= SurveyList[count].description %></td>
                    <td class="text-center col-2"><%= SurveyList[count].author %></td>
                    <td class="text-center col-4">
            

                     <% if(typeof displayName == 'string' && displayName) { %>
                    <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary ">
                    <i class="fas fa-pencil-alt"></i> Edit</a>
                    <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger ">
                        <i class="fas fa-trash-alt"></i> Remove</a>
                        <a href="/survey-list/result/<%= SurveyList[count]._id %>" class="btn btn-primary ">
                            <i class="fas fa-pencil-alt"></i> Results</a>
                        <% } %>
                    </td>
                    
                 </tr>
                 <% } %>   
            </table>
        
        </div>

        
    </div>
</main>
<%- include ../partials/footer_nav.ejs%> 
<%- include ../partials/scripts_nav.ejs%>







